<div *ngIf="articulos!=null; else espera">
    <table border="1">
      <tr>
        <td>Codigo</td><td>Descripcion</td><td>Precio</td>
      </tr>
      <tr *ngFor="let art of articulos">
        <td>{{art.codigo}}</td>
        <td>{{art.descripcion}}</td>
        <td>{{art.precio}}</td>
      </tr>
    </table>
  </div>
  <ng-template #espera>Esperando datos...</ng-template>
<br>
<hr>
<br>
<div style="text-align:center">
  <app-dado [valor]="6"></app-dado>
</div>
<br>
<hr>
<br>
<app-listadoarticulos [datos]="articulos"></app-listadoarticulos>
<br>
<hr>
<br>
<div>
  <app-selectornumerico2 [minimo]="1" [maximo]="10" #selector1></app-selectornumerico2>
  <br>  
  <button (click)="fijarSelector1(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector1(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector1(10)">Fijar en 10</button>
  <hr>
  <app-selectornumerico2 [minimo]="1" [maximo]="10" #selector2></app-selectornumerico2>    
  <br>
  <button (click)="fijarSelector2(1)">Fijar en 1</button><br>
  <button (click)="fijarSelector2(5)">Fijar en 5</button><br>
  <button (click)="fijarSelector2(10)">Fijar en 10</button>  
</div>
<br>
<hr>
<br>
<div>
  <app-selectornumerico [minimo]="1" [maximo]="10" #selector></app-selectornumerico>
  <br>
  <button (click)="selector.fijar(1)">Fijar en 1</button><br>
  <button (click)="selector.fijar(5)">Fijar en 5</button><br>
  <button (click)="selector.fijar(10)">Fijar en 10</button>
</div>
<br>
<hr>
<br>
<div style="text-align:center">
  <h1>Prueba de la componente cronometro</h1>
  <app-cronometro [inicio]="1" (multiplo10)="actualizar($event)"></app-cronometro>
  <h2>Evento</h2>
  <h3>{{mensaje}}</h3>
</div>
<br>
<hr>
<br>
<div style="text-align:center">
  <app-dado [valor]="valor1"></app-dado>
  <app-dado [valor]="valor2"></app-dado>
  <app-dado [valor]="valor3"></app-dado>
  <hr>
  <button (click)="tirar()">Tirar</button>  
  <hr>
  <p>Resultado:{{resultado}}</p>
</div>